h2{
    background-color: #010109;
    margin-bottom: 0;
}
.ed-contain{
    display: flex;
    height: 100vh; 
    background-color: black;
    gap: 50px;
    justify-content: center;
    padding-top: 30px;
    
}
.box1{
    width: 500px;
    height: 180px;
    background-color: black;
    /* background: linear-gradient(to bottom, #010109, #2f003d, #0E2954); */
    border-radius: 10px;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid; 
    border-image: linear-gradient(to right, #050525, #2f003d, #0E2954) 1;
    transition: border-color 0.3s ease; 
}


.box2{
    width: 500px;
    height: 180px;
    background-color: black;
    /* background: linear-gradient(to bottom, #010109, #2f003d, #0E2954); */
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid; 
    border-image: linear-gradient(to right, #050525, #2f003d, #0E2954) 1;
}